---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Consultoría en Gestión de Servicios IT y Proyectos"
    actions={[
      { variant: 'primary', text: 'Contáctanos', href: '/contact',
        icon: 'tabler:phone', },
    ]}
  >
    <Fragment slot="title">
      Ayudar a los Líderes de TI a tener éxito  <span class="hidden sm:inline">en la Transformación Digital</span> es <span
      class="text-accent dark:text-white highlight block">Nuestra Misión</span>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Sobre nosotros"
    subtitle="Somos consultores con más de 20 años de experiencia en informática del negocio petrolero y de otras industrias y poseemos certificaciones internacionales en las áreas de conocimiento que aplicamos."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Descubre el impresionante impacto de SIX CG"
    subtitle="Los números reflejan la confianza de nuestros clientes y los resultados notables que hemos logrado juntos."
    stats={[
      { title: 'Años de experiencia', amount: '25+' },
      { title: 'Clientes satisfechos', amount: '30+' },
      { title: 'Tasa de satisfacción', amount: '95%' },
      { title: 'Mejoras tangibles', amount: '100%' },
    ]}
  />

  <!-- Features2 Widget *************** -->

  <Features2
  title="¿Qué servicios ofrecemos?"
  subtitle="Ofrecemos una amplia gama de servicios que se adaptan a diversas necesidades en la gestión de TI."
  items={[
    {
      title: 'Entonación',
      description:
        'Optimización y ajuste de la gestión de servicios de TI para una mayor eficiencia.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Centros de Atención',
      description:
        'Diseño, implementación y asesoría en centros de atención al cliente de TI.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Estrategias',
      description:
        'Consultoría estratégica en tecnologías de la información para potenciar tu negocio.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Procesos',
      description:
        'Implementación y optimización de procesos de servicio de TI.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Proyectos',
      description:
        'Gestión integral de proyectos de TI con un enfoque en resultados.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Soluciones Project',
      description:
        'Implementación y configuración de Microsoft Project Server para una mejor gestión de proyectos.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Auditorías',
      description:
        'Auditorías exhaustivas de calidad en tecnologías de la información.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Capacitación',
      description:
        'Programas de capacitación en habilidades y prácticas de TI.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Cambio',
      description:
        'Preparación y gestión del cambio en entornos de TI.',
      icon: 'tabler:artboard',
    },
    {
      title: 'Portales',
      description:
        'Desarrollo y personalización de portales de gestión en SharePoint.',
      icon: 'tabler:artboard',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Preguntas Frecuentes"
  items={[
    {
      title: '¿Qué servicios ofrece SIX CG en la gestión de TI?',
      description:
        'SIX CG ofrece una amplia gama de servicios en la gestión de TI, incluyendo la optimización de la gestión de servicios, diseño y asesoría en centros de atención, consultoría estratégica, implementación y mejora de procesos de servicio, y auditorías exhaustivas de calidad en TI.',
    },
    {
      title: '¿Cómo puede ayudarme SIX CG a mejorar mis procesos de TI?',
      description:
        'SIX CG implementa y optimiza procesos de servicio de TI para asegurar una mayor eficiencia y efectividad, adaptándose a las necesidades específicas de cada cliente y garantizando resultados tangibles.',
    },
    {
      title: '¿Qué experiencia tiene SIX CG en la gestión de proyectos de TI?',
      description:
        'Con más de 25 años de experiencia, SIX CG se especializa en la gestión integral de proyectos de TI, ofreciendo un enfoque en resultados y una ejecución eficiente para asegurar el éxito de cada proyecto.',
    },
    {
      title: '¿Ofrece SIX CG soluciones específicas para Microsoft Project Server?',
      description:
        'Sí, SIX CG se encarga de la implementación y configuración de Microsoft Project Server, facilitando una mejor gestión de proyectos y optimizando el uso de esta herramienta en su organización.',
    },
    {
      title: '¿Qué tipo de capacitación proporciona SIX CG?',
      description:
        'SIX CG ofrece programas de capacitación enfocados en el desarrollo de habilidades, aptitudes y prácticas de TI, adaptados a las necesidades del cliente para mejorar su desempeño y conocimiento en el área.',
    },
    {
      title: '¿Cómo asegura SIX CG la calidad en sus auditorías de TI?',
      description:
        'SIX CG realiza auditorías exhaustivas de calidad en tecnologías de la información, revisando y evaluando cada aspecto para garantizar que se cumplen los más altos estándares y se identifican áreas de mejora.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
  classes={{
    items: {
      panel: 'justify-center'
    }
  }}
  title="¿Cómo podemos ayudarte?"
  subtitle="Estamos aquí para ayudar y responder cualquier pregunta que puedas tener."
  columns={2}
  items={[
    {
      title: 'Teléfono',
      icon: 'tabler:phone',
      callToAction: {
        target: '_blank',
        text: '+573195876103',
        href: 'tel:+573195876103',  // Reemplaza con el número de teléfono real
        variant: 'link',
      },
    },
    {
      title: 'Email',
      icon: 'tabler:mail',
      callToAction: {
        target: '_blank',
        text: 'info@six-cg.com',
        href: 'mailto:info@six-cg.com',  // Reemplaza con el correo electrónico real
        variant: 'link',
      },
    },
    
  ]}
/>

<!-- CallToAction Widget *********** -->

<CallToAction
  actions={[
    {
      variant: 'primary',
      target: '_blank',
      text: 'Contáctanos',
      href: getPermalink('/contacto'),  // Reemplaza con el enlace real de contacto
      icon: 'tabler:phone-call',
    },
  ]}
>
  <Fragment slot="title">Impulsa tu negocio con nuestras soluciones de TI</Fragment>

  <Fragment slot="subtitle">
    Descubre cómo nuestras consultorías y servicios en tecnologías de la información pueden optimizar tus procesos y mejorar tu productividad. Contáctanos hoy mismo para una asesoría personalizada.
  </Fragment>
</CallToAction>
</Layout>
