---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Servicios',
};
---
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Servicios"
    title="Impulsa tus proyectos con nuestras soluciones especializadas"
    subtitle="Explora nuestras soluciones meticulosamente diseñadas para diversas industrias y propósitos. Desde la gestión de proyectos hasta servicios de TI, ofrecemos las herramientas que necesitas para tener éxito."
    actions={[{ variant: 'primary', target: '_blank', text: 'Comienza ahora', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'SIX CG Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explora nuestras diversas soluciones"
    subtitle="Descubre nuestras soluciones para optimizar y elevar tus proyectos."
    columns={3}
    items={[
      {
        title: 'Consultoría en Procesos',
        description:
          'Ofrecemos consultoría especializada en procesos de negocio y TI, asegurando la optimización y eficiencia.',
        icon: 'tabler:globe',
      },
      {
        title: 'Gestión de Proyectos',
        description:
          'Gestionamos proyectos complejos con metodologías ágiles y certificaciones internacionales.',
        icon: 'tabler:globe',
      },
      {
        title: 'Soluciones ITIL',
        description:
          'Implementamos y gestionamos servicios de TI bajo los estándares ITIL para asegurar la calidad y eficiencia.',
        icon: 'tabler:globe',
      },
      {
        title: 'Capacitación',
        description:
          'Brindamos capacitación en diversas áreas, incluyendo ITIL, PMP, CBCP, CISA y más.',
        icon: 'tabler:globe',
      },
      {
        title: 'Coaching Organizacional',
        description:
          'Facilitamos procesos de cambio organizacional con técnicas de coaching certificadas.',
        icon: 'tabler:globe',
      },
      {
        title: 'Auditorías de TI',
        description:
          'Realizamos auditorías exhaustivas de sistemas y procesos para garantizar la seguridad y eficiencia.',
        icon: 'tabler:globe',
      },
      {
        title: 'Soluciones MS Project',
        description:
          'Implementamos y gestionamos Microsoft Project Server y SharePoint para una mejor colaboración y gestión de proyectos.',
        icon: 'tabler:globe',
      },
      {
        title: 'Continuidad del Negocio',
        description:
          'Desarrollamos planes de continuidad del negocio para asegurar la resiliencia y recuperación ante desastres.',
        icon: 'tabler:globe',
      },
      {
        title: 'Soporte Técnico',
        description:
          'Ofrecemos soporte técnico especializado para resolver cualquier problema de TI de manera eficiente.',
        icon: 'tabler:globe',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Diseños de Alta Calidad',
        description:
          'Nuestras soluciones presentan diseños de alta calidad que aseguran una apariencia profesional y pulida para tus proyectos.',
        icon: 'tabler:globe',
      },
      {
        title: 'Herramientas de Personalización',
        description:
          'Personaliza cada solución según tus necesidades únicas con herramientas fáciles de usar que te permiten adaptar colores, fuentes y contenido.',
        icon: 'tabler:globe',
      },
      {
        title: 'Elementos Prediseñados',
        description:
          'Ahorra tiempo y esfuerzo con nuestros elementos listos para usar, incluyendo gráficos, iconos y diseños que mejoran el atractivo visual de tus creaciones.',
        icon: 'tabler:globe',
      },
      {
        title: 'Vistas Previas y Mockups',
        description:
          'Visualiza el resultado final antes de realizar cualquier cambio utilizando nuestras vistas previas y mockups, asegurando que tus proyectos cumplan con tus expectativas.',
        icon: 'tabler:globe',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Principales Características</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Ahorro de Tiempo',
        description:
          'Optimiza tu flujo de trabajo, permitiéndote crear materiales impresionantes de manera eficiente y dedicar más tiempo a tus tareas principales.',
        icon: 'tabler:globe',
      },
      {
        title: 'Apariencia Profesional',
        description:
          'Eleva tus proyectos con la apariencia pulida y sofisticada que nuestras soluciones proporcionan, causando una impresión duradera en tu audiencia.',
        icon: 'tabler:globe',
      },
      {
        title: 'Eficiencia de Costos',
        description:
          'Benefíciate de ahorros de costos al evitar la necesidad de trabajos de diseño personalizados, ya que nuestras soluciones ofrecen diseños de grado profesional a una fracción del costo.',
        icon: 'tabler:globe',
      },
      {
        title: 'Descarga Instantánea',
        description:
          'Disfruta de acceso inmediato a tus soluciones elegidas tras la compra, permitiéndote comenzar a trabajar en tus proyectos sin demora.',
        icon: 'tabler:globe',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Beneficios</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Comienza ahora',
        href: '/',
      },
    ]}
    title="Sumérgete en nuestras soluciones"
    subtitle="Ya sea que estés en negocios, diseño o educación, nuestras soluciones están aquí para elevar tus proyectos."
  />
</Layout>
