---
import { Image } from 'astro:assets';

const { transparent } = Astro.props;
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={`/images/six-cg-logo${transparent ? '-transparent' : ''}.png`} alt="SIX CG LOGO" class="max-h-12" width={120} height={48} />
</span>
